BACKEND_ENDPOINT=YOUR_BACKEND_ENDPOINT_HERE
MONGODB_USERNAME=YOUR_MONGODB_USERNAME_HERE
MONGODB_PASSWORD=YOUR_MONGODB_PASSWORD_HERE

#Groq Api Key
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
GROQ_API_KEY_1=YOUR_GROQ_API_KEY_HERE

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY_HERE
AWS_BUCKET_NAME=YOUR_AWS_BUCKET_NAME_HERE
AWS_REGION=YOUR_AWS_REGION_HERE